<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
    <title>ขอขอบคุณ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <style>
          body {
            font-family: 'Prompt', sans-serif;
          }
      </style>
  </head>
 <body>


 <section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container">
        <nav class="level">
    <div class="level-item">
        <span class="icon is-large">
  <i class="fas fa-check-circle fa-3x"></i>
</span>

    </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-4">ขอบคุณสำหรับการตอบแบบสอบถาม</p>
        <br>
        <p class="subtitle is-4">
            กรุณาแคปหน้าจอและนำเลขนี้ติดต่อเพื่อรับของรางวัลกับเจ้าหน้าที่
        </p>
        <br><br>
      <p class="title is-4">รหัสของคุณคือ {{ user_id }}</p>
    </div>
  </div>




</nav>
    </div>
  </div>
</section>


 </body>
</html>